<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feitian.trade.sync.mapper.TradeMapper" >
  <resultMap id="BaseResultMap" type="com.feitian.trade.sync.model.Trade" >
    <id column="tid" property="tid" jdbcType="VARCHAR" />
    <result column="seller_nick" property="sellerNick" jdbcType="VARCHAR" />
    <result column="buyer_nick" property="buyerNick" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="refund_status" property="refundStatus" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="iid" property="iid" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="pic_path" property="picPath" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="VARCHAR" />
    <result column="buyer_message" property="buyerMessage" jdbcType="VARCHAR" />
    <result column="sid" property="sid" jdbcType="VARCHAR" />
    <result column="shipping_type" property="shippingType" jdbcType="VARCHAR" />
    <result column="alipay_no" property="alipayNo" jdbcType="VARCHAR" />
    <result column="payment" property="payment" jdbcType="VARCHAR" />
    <result column="discount_fee" property="discountFee" jdbcType="VARCHAR" />
    <result column="adjust_fee" property="adjustFee" jdbcType="VARCHAR" />
    <result column="snapshot_url" property="snapshotUrl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="seller_rate" property="sellerRate" jdbcType="VARCHAR" />
    <result column="buyer_memo" property="buyerMemo" jdbcType="VARCHAR" />
    <result column="seller_memo" property="sellerMemo" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="buyer_obtain_point_fee" property="buyerObtainPointFee" jdbcType="VARCHAR" />
    <result column="point_fee" property="pointFee" jdbcType="VARCHAR" />
    <result column="real_point_fee" property="realPointFee" jdbcType="VARCHAR" />
    <result column="total_fee" property="totalFee" jdbcType="VARCHAR" />
    <result column="post_fee" property="postFee" jdbcType="VARCHAR" />
    <result column="buyer_alipay_no" property="buyerAlipayNo" jdbcType="VARCHAR" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiver_state" property="receiverState" jdbcType="VARCHAR" />
    <result column="receiver_city" property="receiverCity" jdbcType="VARCHAR" />
    <result column="receiver_district" property="receiverDistrict" jdbcType="VARCHAR" />
    <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR" />
    <result column="receiver_zip" property="receiverZip" jdbcType="VARCHAR" />
    <result column="receiver_mobile" property="receiverMobile" jdbcType="VARCHAR" />
    <result column="receiver_phone" property="receiverPhone" jdbcType="VARCHAR" />
    <result column="consign_time" property="consignTime" jdbcType="TIMESTAMP" />
    <result column="buyer_email" property="buyerEmail" jdbcType="VARCHAR" />
    <result column="commission_fee" property="commissionFee" jdbcType="VARCHAR" />
    <result column="seller_alipay_no" property="sellerAlipayNo" jdbcType="VARCHAR" />
    <result column="seller_mobile" property="sellerMobile" jdbcType="VARCHAR" />
    <result column="seller_phone" property="sellerPhone" jdbcType="VARCHAR" />
    <result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
    <result column="seller_email" property="sellerEmail" jdbcType="VARCHAR" />
    <result column="available_confirm_fee" property="availableConfirmFee" jdbcType="VARCHAR" />
    <result column="has_postFee" property="hasPostfee" jdbcType="VARCHAR" />
    <result column="received_payment" property="receivedPayment" jdbcType="VARCHAR" />
    <result column="cod_fee" property="codFee" jdbcType="VARCHAR" />
    <result column="timeout_action_time" property="timeoutActionTime" jdbcType="TIMESTAMP" />
    <result column="orders" property="orders" jdbcType="VARCHAR" />
    <result column="sku_id" property="skuId" jdbcType="VARCHAR" />
    <result column="sku_properties_name" property="skuPropertiesName" jdbcType="VARCHAR" />
    <result column="item_meal_name" property="itemMealName" jdbcType="VARCHAR" />
    <result column="outer_iid" property="outerIid" jdbcType="VARCHAR" />
    <result column="outer_sku_id" property="outerSkuId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.feitian.trade.sync.model.Trade" extends="BaseResultMap" >
    <result column="response" property="response" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tid, seller_nick, buyer_nick, title, type, refund_status, created, iid, price, pic_path, 
    num, buyer_message, sid, shipping_type, alipay_no, payment, discount_fee, adjust_fee, 
    snapshot_url, status, seller_rate, buyer_memo, seller_memo, pay_time, end_time, modified, 
    buyer_obtain_point_fee, point_fee, real_point_fee, total_fee, post_fee, buyer_alipay_no, 
    receiver_name, receiver_state, receiver_city, receiver_district, receiver_address, 
    receiver_zip, receiver_mobile, receiver_phone, consign_time, buyer_email, commission_fee, 
    seller_alipay_no, seller_mobile, seller_phone, seller_name, seller_email, available_confirm_fee, 
    has_postFee, received_payment, cod_fee, timeout_action_time, orders, sku_id, sku_properties_name, 
    item_meal_name, outer_iid, outer_sku_id
  </sql>
  <sql id="Blob_Column_List" >
    response
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_trade
    where tid = #{tid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_trade
    where tid = #{tid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.feitian.trade.sync.model.Trade" >
    insert into tb_trade (tid, seller_nick, buyer_nick, 
      title, type, refund_status, 
      created, iid, price, 
      pic_path, num, buyer_message, 
      sid, shipping_type, alipay_no, 
      payment, discount_fee, adjust_fee, 
      snapshot_url, status, seller_rate, 
      buyer_memo, seller_memo, pay_time, 
      end_time, modified, buyer_obtain_point_fee, 
      point_fee, real_point_fee, total_fee, 
      post_fee, buyer_alipay_no, receiver_name, 
      receiver_state, receiver_city, receiver_district, 
      receiver_address, receiver_zip, receiver_mobile, 
      receiver_phone, consign_time, buyer_email, 
      commission_fee, seller_alipay_no, seller_mobile, 
      seller_phone, seller_name, seller_email, 
      available_confirm_fee, has_postFee, received_payment, 
      cod_fee, timeout_action_time, orders, 
      sku_id, sku_properties_name, item_meal_name, 
      outer_iid, outer_sku_id, response
      )
    values (#{tid,jdbcType=VARCHAR}, #{sellerNick,jdbcType=VARCHAR}, #{buyerNick,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{refundStatus,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{iid,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{picPath,jdbcType=VARCHAR}, #{num,jdbcType=VARCHAR}, #{buyerMessage,jdbcType=VARCHAR}, 
      #{sid,jdbcType=VARCHAR}, #{shippingType,jdbcType=VARCHAR}, #{alipayNo,jdbcType=VARCHAR}, 
      #{payment,jdbcType=VARCHAR}, #{discountFee,jdbcType=VARCHAR}, #{adjustFee,jdbcType=VARCHAR}, 
      #{snapshotUrl,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{sellerRate,jdbcType=VARCHAR}, 
      #{buyerMemo,jdbcType=VARCHAR}, #{sellerMemo,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP}, #{buyerObtainPointFee,jdbcType=VARCHAR}, 
      #{pointFee,jdbcType=VARCHAR}, #{realPointFee,jdbcType=VARCHAR}, #{totalFee,jdbcType=VARCHAR}, 
      #{postFee,jdbcType=VARCHAR}, #{buyerAlipayNo,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, 
      #{receiverState,jdbcType=VARCHAR}, #{receiverCity,jdbcType=VARCHAR}, #{receiverDistrict,jdbcType=VARCHAR}, 
      #{receiverAddress,jdbcType=VARCHAR}, #{receiverZip,jdbcType=VARCHAR}, #{receiverMobile,jdbcType=VARCHAR}, 
      #{receiverPhone,jdbcType=VARCHAR}, #{consignTime,jdbcType=TIMESTAMP}, #{buyerEmail,jdbcType=VARCHAR}, 
      #{commissionFee,jdbcType=VARCHAR}, #{sellerAlipayNo,jdbcType=VARCHAR}, #{sellerMobile,jdbcType=VARCHAR}, 
      #{sellerPhone,jdbcType=VARCHAR}, #{sellerName,jdbcType=VARCHAR}, #{sellerEmail,jdbcType=VARCHAR}, 
      #{availableConfirmFee,jdbcType=VARCHAR}, #{hasPostfee,jdbcType=VARCHAR}, #{receivedPayment,jdbcType=VARCHAR}, 
      #{codFee,jdbcType=VARCHAR}, #{timeoutActionTime,jdbcType=TIMESTAMP}, #{orders,jdbcType=VARCHAR}, 
      #{skuId,jdbcType=VARCHAR}, #{skuPropertiesName,jdbcType=VARCHAR}, #{itemMealName,jdbcType=VARCHAR}, 
      #{outerIid,jdbcType=VARCHAR}, #{outerSkuId,jdbcType=VARCHAR}, #{response,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.feitian.trade.sync.model.Trade" >
    insert into tb_trade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        tid,
      </if>
      <if test="sellerNick != null" >
        seller_nick,
      </if>
      <if test="buyerNick != null" >
        buyer_nick,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="refundStatus != null" >
        refund_status,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="iid != null" >
        iid,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="picPath != null" >
        pic_path,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="buyerMessage != null" >
        buyer_message,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="shippingType != null" >
        shipping_type,
      </if>
      <if test="alipayNo != null" >
        alipay_no,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="discountFee != null" >
        discount_fee,
      </if>
      <if test="adjustFee != null" >
        adjust_fee,
      </if>
      <if test="snapshotUrl != null" >
        snapshot_url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sellerRate != null" >
        seller_rate,
      </if>
      <if test="buyerMemo != null" >
        buyer_memo,
      </if>
      <if test="sellerMemo != null" >
        seller_memo,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="buyerObtainPointFee != null" >
        buyer_obtain_point_fee,
      </if>
      <if test="pointFee != null" >
        point_fee,
      </if>
      <if test="realPointFee != null" >
        real_point_fee,
      </if>
      <if test="totalFee != null" >
        total_fee,
      </if>
      <if test="postFee != null" >
        post_fee,
      </if>
      <if test="buyerAlipayNo != null" >
        buyer_alipay_no,
      </if>
      <if test="receiverName != null" >
        receiver_name,
      </if>
      <if test="receiverState != null" >
        receiver_state,
      </if>
      <if test="receiverCity != null" >
        receiver_city,
      </if>
      <if test="receiverDistrict != null" >
        receiver_district,
      </if>
      <if test="receiverAddress != null" >
        receiver_address,
      </if>
      <if test="receiverZip != null" >
        receiver_zip,
      </if>
      <if test="receiverMobile != null" >
        receiver_mobile,
      </if>
      <if test="receiverPhone != null" >
        receiver_phone,
      </if>
      <if test="consignTime != null" >
        consign_time,
      </if>
      <if test="buyerEmail != null" >
        buyer_email,
      </if>
      <if test="commissionFee != null" >
        commission_fee,
      </if>
      <if test="sellerAlipayNo != null" >
        seller_alipay_no,
      </if>
      <if test="sellerMobile != null" >
        seller_mobile,
      </if>
      <if test="sellerPhone != null" >
        seller_phone,
      </if>
      <if test="sellerName != null" >
        seller_name,
      </if>
      <if test="sellerEmail != null" >
        seller_email,
      </if>
      <if test="availableConfirmFee != null" >
        available_confirm_fee,
      </if>
      <if test="hasPostfee != null" >
        has_postFee,
      </if>
      <if test="receivedPayment != null" >
        received_payment,
      </if>
      <if test="codFee != null" >
        cod_fee,
      </if>
      <if test="timeoutActionTime != null" >
        timeout_action_time,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="skuPropertiesName != null" >
        sku_properties_name,
      </if>
      <if test="itemMealName != null" >
        item_meal_name,
      </if>
      <if test="outerIid != null" >
        outer_iid,
      </if>
      <if test="outerSkuId != null" >
        outer_sku_id,
      </if>
      <if test="response != null" >
        response,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="sellerNick != null" >
        #{sellerNick,jdbcType=VARCHAR},
      </if>
      <if test="buyerNick != null" >
        #{buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="refundStatus != null" >
        #{refundStatus,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="iid != null" >
        #{iid,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null" >
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="buyerMessage != null" >
        #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="shippingType != null" >
        #{shippingType,jdbcType=VARCHAR},
      </if>
      <if test="alipayNo != null" >
        #{alipayNo,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="discountFee != null" >
        #{discountFee,jdbcType=VARCHAR},
      </if>
      <if test="adjustFee != null" >
        #{adjustFee,jdbcType=VARCHAR},
      </if>
      <if test="snapshotUrl != null" >
        #{snapshotUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sellerRate != null" >
        #{sellerRate,jdbcType=VARCHAR},
      </if>
      <if test="buyerMemo != null" >
        #{buyerMemo,jdbcType=VARCHAR},
      </if>
      <if test="sellerMemo != null" >
        #{sellerMemo,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="buyerObtainPointFee != null" >
        #{buyerObtainPointFee,jdbcType=VARCHAR},
      </if>
      <if test="pointFee != null" >
        #{pointFee,jdbcType=VARCHAR},
      </if>
      <if test="realPointFee != null" >
        #{realPointFee,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=VARCHAR},
      </if>
      <if test="postFee != null" >
        #{postFee,jdbcType=VARCHAR},
      </if>
      <if test="buyerAlipayNo != null" >
        #{buyerAlipayNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverState != null" >
        #{receiverState,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null" >
        #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null" >
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverZip != null" >
        #{receiverZip,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null" >
        #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="consignTime != null" >
        #{consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyerEmail != null" >
        #{buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="commissionFee != null" >
        #{commissionFee,jdbcType=VARCHAR},
      </if>
      <if test="sellerAlipayNo != null" >
        #{sellerAlipayNo,jdbcType=VARCHAR},
      </if>
      <if test="sellerMobile != null" >
        #{sellerMobile,jdbcType=VARCHAR},
      </if>
      <if test="sellerPhone != null" >
        #{sellerPhone,jdbcType=VARCHAR},
      </if>
      <if test="sellerName != null" >
        #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="sellerEmail != null" >
        #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="availableConfirmFee != null" >
        #{availableConfirmFee,jdbcType=VARCHAR},
      </if>
      <if test="hasPostfee != null" >
        #{hasPostfee,jdbcType=VARCHAR},
      </if>
      <if test="receivedPayment != null" >
        #{receivedPayment,jdbcType=VARCHAR},
      </if>
      <if test="codFee != null" >
        #{codFee,jdbcType=VARCHAR},
      </if>
      <if test="timeoutActionTime != null" >
        #{timeoutActionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="skuPropertiesName != null" >
        #{skuPropertiesName,jdbcType=VARCHAR},
      </if>
      <if test="itemMealName != null" >
        #{itemMealName,jdbcType=VARCHAR},
      </if>
      <if test="outerIid != null" >
        #{outerIid,jdbcType=VARCHAR},
      </if>
      <if test="outerSkuId != null" >
        #{outerSkuId,jdbcType=VARCHAR},
      </if>
      <if test="response != null" >
        #{response,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feitian.trade.sync.model.Trade" >
    update tb_trade
    <set >
      <if test="sellerNick != null" >
        seller_nick = #{sellerNick,jdbcType=VARCHAR},
      </if>
      <if test="buyerNick != null" >
        buyer_nick = #{buyerNick,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="refundStatus != null" >
        refund_status = #{refundStatus,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="iid != null" >
        iid = #{iid,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null" >
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="buyerMessage != null" >
        buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="shippingType != null" >
        shipping_type = #{shippingType,jdbcType=VARCHAR},
      </if>
      <if test="alipayNo != null" >
        alipay_no = #{alipayNo,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        payment = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="discountFee != null" >
        discount_fee = #{discountFee,jdbcType=VARCHAR},
      </if>
      <if test="adjustFee != null" >
        adjust_fee = #{adjustFee,jdbcType=VARCHAR},
      </if>
      <if test="snapshotUrl != null" >
        snapshot_url = #{snapshotUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="sellerRate != null" >
        seller_rate = #{sellerRate,jdbcType=VARCHAR},
      </if>
      <if test="buyerMemo != null" >
        buyer_memo = #{buyerMemo,jdbcType=VARCHAR},
      </if>
      <if test="sellerMemo != null" >
        seller_memo = #{sellerMemo,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="buyerObtainPointFee != null" >
        buyer_obtain_point_fee = #{buyerObtainPointFee,jdbcType=VARCHAR},
      </if>
      <if test="pointFee != null" >
        point_fee = #{pointFee,jdbcType=VARCHAR},
      </if>
      <if test="realPointFee != null" >
        real_point_fee = #{realPointFee,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null" >
        total_fee = #{totalFee,jdbcType=VARCHAR},
      </if>
      <if test="postFee != null" >
        post_fee = #{postFee,jdbcType=VARCHAR},
      </if>
      <if test="buyerAlipayNo != null" >
        buyer_alipay_no = #{buyerAlipayNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null" >
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverState != null" >
        receiver_state = #{receiverState,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null" >
        receiver_city = #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null" >
        receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null" >
        receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverZip != null" >
        receiver_zip = #{receiverZip,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null" >
        receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="consignTime != null" >
        consign_time = #{consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyerEmail != null" >
        buyer_email = #{buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="commissionFee != null" >
        commission_fee = #{commissionFee,jdbcType=VARCHAR},
      </if>
      <if test="sellerAlipayNo != null" >
        seller_alipay_no = #{sellerAlipayNo,jdbcType=VARCHAR},
      </if>
      <if test="sellerMobile != null" >
        seller_mobile = #{sellerMobile,jdbcType=VARCHAR},
      </if>
      <if test="sellerPhone != null" >
        seller_phone = #{sellerPhone,jdbcType=VARCHAR},
      </if>
      <if test="sellerName != null" >
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="sellerEmail != null" >
        seller_email = #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="availableConfirmFee != null" >
        available_confirm_fee = #{availableConfirmFee,jdbcType=VARCHAR},
      </if>
      <if test="hasPostfee != null" >
        has_postFee = #{hasPostfee,jdbcType=VARCHAR},
      </if>
      <if test="receivedPayment != null" >
        received_payment = #{receivedPayment,jdbcType=VARCHAR},
      </if>
      <if test="codFee != null" >
        cod_fee = #{codFee,jdbcType=VARCHAR},
      </if>
      <if test="timeoutActionTime != null" >
        timeout_action_time = #{timeoutActionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="skuPropertiesName != null" >
        sku_properties_name = #{skuPropertiesName,jdbcType=VARCHAR},
      </if>
      <if test="itemMealName != null" >
        item_meal_name = #{itemMealName,jdbcType=VARCHAR},
      </if>
      <if test="outerIid != null" >
        outer_iid = #{outerIid,jdbcType=VARCHAR},
      </if>
      <if test="outerSkuId != null" >
        outer_sku_id = #{outerSkuId,jdbcType=VARCHAR},
      </if>
      <if test="response != null" >
        response = #{response,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.feitian.trade.sync.model.Trade" >
    update tb_trade
    set seller_nick = #{sellerNick,jdbcType=VARCHAR},
      buyer_nick = #{buyerNick,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      refund_status = #{refundStatus,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      iid = #{iid,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      pic_path = #{picPath,jdbcType=VARCHAR},
      num = #{num,jdbcType=VARCHAR},
      buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=VARCHAR},
      shipping_type = #{shippingType,jdbcType=VARCHAR},
      alipay_no = #{alipayNo,jdbcType=VARCHAR},
      payment = #{payment,jdbcType=VARCHAR},
      discount_fee = #{discountFee,jdbcType=VARCHAR},
      adjust_fee = #{adjustFee,jdbcType=VARCHAR},
      snapshot_url = #{snapshotUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      seller_rate = #{sellerRate,jdbcType=VARCHAR},
      buyer_memo = #{buyerMemo,jdbcType=VARCHAR},
      seller_memo = #{sellerMemo,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=TIMESTAMP},
      buyer_obtain_point_fee = #{buyerObtainPointFee,jdbcType=VARCHAR},
      point_fee = #{pointFee,jdbcType=VARCHAR},
      real_point_fee = #{realPointFee,jdbcType=VARCHAR},
      total_fee = #{totalFee,jdbcType=VARCHAR},
      post_fee = #{postFee,jdbcType=VARCHAR},
      buyer_alipay_no = #{buyerAlipayNo,jdbcType=VARCHAR},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_state = #{receiverState,jdbcType=VARCHAR},
      receiver_city = #{receiverCity,jdbcType=VARCHAR},
      receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      receiver_zip = #{receiverZip,jdbcType=VARCHAR},
      receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      consign_time = #{consignTime,jdbcType=TIMESTAMP},
      buyer_email = #{buyerEmail,jdbcType=VARCHAR},
      commission_fee = #{commissionFee,jdbcType=VARCHAR},
      seller_alipay_no = #{sellerAlipayNo,jdbcType=VARCHAR},
      seller_mobile = #{sellerMobile,jdbcType=VARCHAR},
      seller_phone = #{sellerPhone,jdbcType=VARCHAR},
      seller_name = #{sellerName,jdbcType=VARCHAR},
      seller_email = #{sellerEmail,jdbcType=VARCHAR},
      available_confirm_fee = #{availableConfirmFee,jdbcType=VARCHAR},
      has_postFee = #{hasPostfee,jdbcType=VARCHAR},
      received_payment = #{receivedPayment,jdbcType=VARCHAR},
      cod_fee = #{codFee,jdbcType=VARCHAR},
      timeout_action_time = #{timeoutActionTime,jdbcType=TIMESTAMP},
      orders = #{orders,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=VARCHAR},
      sku_properties_name = #{skuPropertiesName,jdbcType=VARCHAR},
      item_meal_name = #{itemMealName,jdbcType=VARCHAR},
      outer_iid = #{outerIid,jdbcType=VARCHAR},
      outer_sku_id = #{outerSkuId,jdbcType=VARCHAR},
      response = #{response,jdbcType=LONGVARCHAR}
    where tid = #{tid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feitian.trade.sync.model.Trade" >
    update tb_trade
    set seller_nick = #{sellerNick,jdbcType=VARCHAR},
      buyer_nick = #{buyerNick,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      refund_status = #{refundStatus,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      iid = #{iid,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      pic_path = #{picPath,jdbcType=VARCHAR},
      num = #{num,jdbcType=VARCHAR},
      buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=VARCHAR},
      shipping_type = #{shippingType,jdbcType=VARCHAR},
      alipay_no = #{alipayNo,jdbcType=VARCHAR},
      payment = #{payment,jdbcType=VARCHAR},
      discount_fee = #{discountFee,jdbcType=VARCHAR},
      adjust_fee = #{adjustFee,jdbcType=VARCHAR},
      snapshot_url = #{snapshotUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      seller_rate = #{sellerRate,jdbcType=VARCHAR},
      buyer_memo = #{buyerMemo,jdbcType=VARCHAR},
      seller_memo = #{sellerMemo,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=TIMESTAMP},
      buyer_obtain_point_fee = #{buyerObtainPointFee,jdbcType=VARCHAR},
      point_fee = #{pointFee,jdbcType=VARCHAR},
      real_point_fee = #{realPointFee,jdbcType=VARCHAR},
      total_fee = #{totalFee,jdbcType=VARCHAR},
      post_fee = #{postFee,jdbcType=VARCHAR},
      buyer_alipay_no = #{buyerAlipayNo,jdbcType=VARCHAR},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_state = #{receiverState,jdbcType=VARCHAR},
      receiver_city = #{receiverCity,jdbcType=VARCHAR},
      receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      receiver_zip = #{receiverZip,jdbcType=VARCHAR},
      receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      consign_time = #{consignTime,jdbcType=TIMESTAMP},
      buyer_email = #{buyerEmail,jdbcType=VARCHAR},
      commission_fee = #{commissionFee,jdbcType=VARCHAR},
      seller_alipay_no = #{sellerAlipayNo,jdbcType=VARCHAR},
      seller_mobile = #{sellerMobile,jdbcType=VARCHAR},
      seller_phone = #{sellerPhone,jdbcType=VARCHAR},
      seller_name = #{sellerName,jdbcType=VARCHAR},
      seller_email = #{sellerEmail,jdbcType=VARCHAR},
      available_confirm_fee = #{availableConfirmFee,jdbcType=VARCHAR},
      has_postFee = #{hasPostfee,jdbcType=VARCHAR},
      received_payment = #{receivedPayment,jdbcType=VARCHAR},
      cod_fee = #{codFee,jdbcType=VARCHAR},
      timeout_action_time = #{timeoutActionTime,jdbcType=TIMESTAMP},
      orders = #{orders,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=VARCHAR},
      sku_properties_name = #{skuPropertiesName,jdbcType=VARCHAR},
      item_meal_name = #{itemMealName,jdbcType=VARCHAR},
      outer_iid = #{outerIid,jdbcType=VARCHAR},
      outer_sku_id = #{outerSkuId,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=VARCHAR}
  </update>
</mapper>